body {
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.fullscreen {
    position:absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.fullwidth {
    position:absolute;
    top: 0;
    left: 0;
}
#player {
    position:absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
#blackbackground {
    position:fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background: black;
}
#overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#drop-region {
    position:absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.hline {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
    margin: 0;
    height: 1px;
    width: 100%;
}
.vline {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    border-left: 1px solid black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 1px;
}
.element-image img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

#contextMenu {
    position: absolute;
    display: none;
    padding: 8px;
    z-index: 9999;
 }

#chat {
    height: 80%;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 30px;
    display:none;
    vertical-align: bottom;
}

#diceout{
    height: 30px;
    width: 350px;
    position: absolute;
    right: 200px;
    bottom: 30px;
    display:none;
    text-align: center;
    color: white;
}
#diceline {
    height: 30px;
    width: 350px;
    position: absolute;
    right: 200px;
    bottom: 0;
    display:none;
    text-align: right;
    color: white;
}
#diceline span{
    cursor: pointer;
}
#chatinput {
    height: 40px;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    display:none;
    vertical-align: bottom;
}
#chatinput input {
    width: 100%;
}
.colorswitch {
    cursor:pointer;
    width:20px;
    border-radius: 50%;
}
#headmenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    z-index: 99999;
    display:none;
}
#jitsimeet {
    position: absolute;
    top: 26px;
    right: 0;
    width: 300px;
    height: 400px;
    z-index: 99999;
    display:none;
}

#cropper {
    z-index:99999;
}
#cropper-container {
    margin: 20px auto;
    max-width: 640px;
}
#cropper-container img {
    width: 100%;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}
